<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/main">
<th:block layout:fragment="commonhead">
    <title>品牌</title>
    <link rel="stylesheet" href="../../static/css/common.css" th:href="@{/static/css/common.css}">
</th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                品牌
                <small>管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">编辑</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal">
                                <input type="hidden" name="id" th:value="${brand.id}"/>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="name">名称</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="name" type="text" th:value="${brand.name}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="type">类型</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="type" name="type">
                                            <option th:each="op : ${types}" th:value="${op}"
                                                    th:selected="${brand.type==op}" th:text="${op.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="browserButton">logo</label>
                                    <div class="col-sm-10">
                                        <span class="fieldSet">
                                        <input id="logo" class="text" name="logo" maxlength="200" type="text">
                                        <input id="browserButton" class="button" value="选择文件" type="button">
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="url">网址</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="url" name="url" type="text"
                                               th:value="${brand.url}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="order">排序</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="order" name="order" type="text"
                                               th:value="${brand.order}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="introduction">介绍</label>
                                    <div class="col-sm-10">
                                        <textarea id="introduction" name="introduction" rows="10" cols="80"
                                                  th:text="${brand.introduction}"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </section>
    </div>
</div>
<th:block layout:fragment="commonscript">
    <script th:src="@{/static/bower_components/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <script type="text/javascript">
        $().ready(function() {
            var $inputForm = $("#inputForm");
            var $type = $("#type");
            var $logo = $("#logo");
            var $browserButton = $("#browserButton");
            $browserButton.browser();
            $type.change(function() {
                if ($(this).val() == "text") {
                    $logo.val("").prop("disabled", true);
                    $browserButton.prop("disabled", true);
                } else {
                    $logo.prop("disabled", false);
                    $browserButton.prop("disabled", false);
                }
            });
        });
    </script>

</th:block>
</body>
</html>