<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/main">
<th:block layout:fragment="commonhead">
    <!--treegrid -->
    <title>产品分类管理</title>
    <link rel="stylesheet" href="../../bower_components/treegrid/css/jquery.treegrid.css"
          th:href="@{/static/bower_components/treegrid/css/jquery.treegrid.css}">
</th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="content">
    <div class="content-wrapper">
        <table class="table tree-2 table-bordered table-striped table-condensed">
            <tr>
                <th>名称</th>
                <th>等级</th>
                <th>顺序</th>
                <th>#</th>
            </tr>
            <tr th:each="category : ${grid}"
                th:class="${category.parent==null}? 'treegrid-'+${category.id}:'treegrid-'+${category.id} +' treegrid-parent-'+${category.parent.id}">
                <td th:text="${category.name}">--</td>
                <td th:text="${category.grade}">0</td>
                <td th:text="${category.order}">0</td>
                <td>
                    <a th:href="@{'/category/'+${category.id}+'/edit'}">编辑</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<!--
<div th:replace="fragments/footer :: jqueryjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: bootsrtapjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: datatablesjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: slimscrolljs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: fastclickjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: adminltejs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: consolejs">JavaScript tags are loaded here</div>
-->
<th:block layout:fragment="commonscript">
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/treegrid/js/jquery.treegrid.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/bower_components/treegrid/js/jquery.treegrid.bootstrap3.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tree-2').treegrid({
                /* expanderExpandedClass: 'glyphicon glyphicon-minus',
                 expanderCollapsedClass: 'glyphicon glyphicon-plus'
                */
            });
        });
    </script>
</th:block>
</body>
</html>