<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head (title='Title')">
</head>
<body>
<div class="container">
    
</div>
<div th:replace="fragments/footer :: jqueryjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: bootsrtapjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: datatablesjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: slimscrolljs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: fastclickjs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: adminltejs">JavaScript tags are loaded here</div>
<div th:replace="fragments/footer :: consolejs">JavaScript tags are loaded here</div>
</body>
</html>   
    