<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alerts">
    <div id="alert" th:if="${flashMessage}!=null and ${#strings.toString(flashMessage.type)}=='warn' " class="alert alert-warning alert-dismissible" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-warning"></i> Alert!</h4>
        <span th:text="${flashMessage.content}"></span>
    </div>

    <div id="alert" th:if="${flashMessage}!=null and ${#strings.toString(flashMessage.type)}=='success'" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i> Success!</h4>
        <span th:text="${flashMessage.content}"></span>
    </div>
    <script type="text/javascript" th:inline="javascript" th:if="${flashMessage}!=null">
        setTimeout("$('#alert').alert('close')", [[${#strings.toString(flashMessage.type)}=='success'? 1000 :2000]]);
    </script>
</div>
</body>
</html>
    