<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pager">
    <input type="hidden" id="searchCount" name="searchCount" th:value="${page.searchCount}"/>
    <input type="hidden" id="size" name="size" th:value="5"/>
    <input type="hidden" id="orderProperty" name="orderByField"  th:value="${page.orderByField}" />
    <input type="hidden" id="orderDirection" name="asc"  th:value="${page.isAsc()}" />
    <input type="hidden" id="pageNumber" name="current" th:value="${page.current}"/>
    <input type="hidden" id="openSort" name="openSort" th:value="${page.openSort}"/>
    <input type="hidden" id="isAsc" name="isAsc" th:value="${page.isAsc()}"/>
    <ul th:if="${page.pages gt 0}" class="pagination pagination-sm no-margin pull-right">
        <li th:class="${page.hasPrevious()?'':'disabled'}"><a th:href="'javascript: $.pageSkip('+${page.current-1}+');'">«</a></li>
        <li th:each="segment : ${page.getSegments()}" th:class="${page.current==segment ? 'active':''}">
            <a th:href="'javascript: $.pageSkip('+${segment}+');'" th:text="${segment}"></a>
        </li>
        <li  th:class="${page.hasNext()?'':'disabled'}">
            <a th:href="'javascript: $.pageSkip('+${page.current+1}+');'">»</a>
        </li>
    </ul>
</div>
</body>
</html>
