<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/main">
<th:block layout:fragment="commonhead">
    <title>产品管理</title>
    <link rel="stylesheet" href="../../../static/bower_components/treeview/css/bootstrap-treeview.css"
          th:href="@{/static/bower_components/treeview/css/bootstrap-treeview.css}">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
</th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                产品
                <small>管理</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>
        </section>

        <form id="inputForm" action="/product/update"  method="post" class="form-horizontal">
            <input type="hidden" id="id" name="id" />
            <section class="content">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">编辑</h3>
                    </div>
                    <div class="box-body">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#basePane" data-toggle="tab" aria-expanded="true">基本信息</a></li>
                                <li class=""><a href="#introductionPane" data-toggle="tab" aria-expanded="false">商品介绍</a></li>
                                <li class=""><a href="#parameterPane" data-toggle="tab" aria-expanded="false">商品参数</a></li>
                                <li class=""><a href="#attributePane" data-toggle="tab" aria-expanded="false">商品属性</a></li>
                                <li class=""><a href="#specificationPane" data-toggle="tab" aria-expanded="false">商品规格</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="basePane">
                                   <div th:replace="admin/product/base_tab :: content"></div>
                                </div>
                                <div class="tab-pane" id="introductionPane">
                                    <div th:replace="admin/product/introduction_tab :: content"></div>

                                </div>

                                <div class="tab-pane" id="parameterPane">
                                    <div th:replace="admin/product/parameter_tab :: content"></div>
                                </div>
                                <div class="tab-pane" id="attributePane">
                                    <div th:replace="admin/product/attribute_tab :: content"></div>
                                </div>
                                <div class="tab-pane" id="specificationPane">
                                    <div th:replace="admin/product/specification_tab :: content"></div>
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info">保存</button>
                        <a type="submit" class="btn btn-default" th:href="@{'/product/'}">取消</a>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>
<th:block layout:fragment="commonscript">
    <link rel="stylesheet" href="../../../static/css/common.css" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/bower_components/kindeditor/themes/default/default.css}"/>
    <script th:src="@{/static/bower_components/kindeditor/kindeditor.js}"></script>
    <script th:src="@{/static/js/common.js}"></script>
    <div th:replace="fragments/footer :: treeviewjs">JavaScript tags are loaded here</div>
    <div th:replace="fragments/input_treeview :: treeview_script('productCategoryId',${productCategoryTreeViewJson})">
    </div>
</th:block>
</body>
</html>