<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content" class="row">
    <div class="col-md-12">

        <div class="panel" th:each="parameterGroup : ${product.productCategory.parameterGroups}">
            <div class="panel-heading" th:text="${parameterGroup.name}"></div>
            <div class="panel-body">
                <div class="form-group" th:each="parameter : ${parameterGroup.parameters}">
                    <label class="col-sm-2 control-label" for="name" th:text="${parameter.name}"></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="name" th:name="'parameter_'+${parameter.id}" th:value="${product.parameterValue.get(parameter)}" type="text" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>