<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content" class="row">
    <script type="text/javascript">
        $().ready(function() {
            var $specificationIds = $("#specificationSelect :checkbox");
            var $specificationProductTable = $("#specificationProductTable");
            var $addSpecificationProduct = $("#addSpecificationProduct");

            // 修改商品规格
            $specificationIds.click(function() {
                if ($specificationIds.filter(":checked").length == 0) {
                    $specificationProductTable.find("tr:gt(1)").remove();
                }
                var $this = $(this);
                if ($this.prop("checked")) {
                   var $spectd=$specificationProductTable.find("td.specification_" + $this.val());
                    $spectd.removeClass("hidden").show().find("select").prop("disabled", false);
                } else {
                    $specificationProductTable.find("td.specification_" + $this.val()).hide().find("select").prop("disabled", true);
                }
            });

            // 增加规格商品
            $addSpecificationProduct.click(function() {
                if ($specificationIds.filter(":checked").length == 0) {
                    $.message("warn", "必须至少选择一个规格");
                    return false;
                }
                if ($specificationProductTable.find("tr:gt(1)").length == 0) {
                    $tr = $specificationProductTable.find("tr:eq(1)").clone().show().appendTo($specificationProductTable);
                    $tr.find("td:first").text("当前规格");
                    $tr.find("td:last").text("-");
                } else {
                    $specificationProductTable.find("tr:eq(1)").clone().removeClass("hidden").appendTo($specificationProductTable);
                }
            });

            // 删除规格商品
            $(document).on("click","a.deleteSpecificationProduct",function () {
                var $this = $(this);
                $.dialog({
                    type: "warn",
                    content: "您确定要删除吗？",
                    onOk: function() {
                        $this.closest("tr").remove();
                    }
                });
            });
        });
     </script>
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">请选择商品规格:</h3>
            </div>
            <div class="box-body">
                <div id="specificationSelect" class="specificationSelect row">
                    <div  class="col-md-2" th:each="specification : ${specifications}">
                        <label>
                            <input type="checkbox" name="specificationIds"
                                   th:value="${specification.id}"
                                   th:checked="${product.specifications!=null && #sets.contains(product.specifications,specification)}"
                                   th:text="${specification.name}"/>
                            <span class="gray" th:if="${specification.memo!=null}"
                                  th:text="'['+${specification.memo}+']'"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div th:class="row">
            <a href="javascript:;" id="addSpecificationProduct" class="button">增加规格商品</a>
        </div>
        <table id="specificationProductTable" class="table table-bordered">
            <thead>
            <tr>
                <td> &nbsp; </td>
                <td th:each="specification : ${specifications}"
                    th:class="'specification_'+${specification.id}+' '+${#sets.contains(product.specifications,specification)? '':'hidden'}">
                    <th:block th:text="${specification.name}"></th:block>
                    <span class="gray" th:if="${specification.memo!=null}"
                          th:text="'['+${specification.memo}+']'"></span>
                </td>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <tr class="hidden">
                    <td>&nbsp;</td>
                    <td  th:each="specification : ${specifications}" th:class="'specification_'+${specification.id}+' '+${#sets.contains(product.specifications,specification)? '':'hidden'}">
                        <select th:name="'specification_'+${specification.id}"  th:disabled="${! #sets.contains(product.specifications,specification)}">
                            <option th:each="specificationValue :${specification.specificationValues}" th:value="${specificationValue.id}" th:text="${specificationValue.name}"></option>
                        </select>
                    </td>
                    <td>
                        <a href="javascript:;" class="deleteSpecificationProduct">删除</a>
                    </td>
                </tr>
                <tr th:if="${! #sets.isEmpty(product.specifications)}">
                    <td>
                        当前规格
                        <input type="hidden" name="specificationProductIds" value="${product.id}" />
                    </td>
                    <td  th:each="specification : ${specifications}" th:class="'specification_'+${specification.id}+' '+${#sets.contains(product.specifications,specification)? '':'hidden'} ">
                        <select th:name="'specification_'+${specification.id}"  th:disabled="${! #sets.contains(product.specifications,specification)}">
                            <option th:each="specificationValue :${specification.specificationValues}"
                                    th:selected="${#sets.contains(product.specificationValues,specificationValue)}"
                                    th:value="${specificationValue.id}" th:text="${specificationValue.name}"></option>
                        </select>
                    </td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</html>