<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/main">
<th:block layout:fragment="commonhead">
    <!--treegrid -->
    <title>产品分类管理</title>
    <link rel="stylesheet" href="../../bower_components/treegrid/css/jquery.treegrid.css"
          th:href="@{/static/bower_components/treegrid/css/jquery.treegrid.css}">
</th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div layout:fragment="content">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                商品分类
                <small>列表</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General Elements</li>
            </ol>
        </section>
        <section th:class="content">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="btn-group">
                        <button class="btn" type="button"><em class="glyphicon glyphicon-plus"></em></button>
                    </div>
                </div>
                <div class="box-body">
                    <div th:replace="fragments/messages ::alerts"></div>
                    <div class="row">
                        <table class="table tree-2 table-bordered table-striped table-condensed">
                            <tr>
                                <th>名称</th>
                                <th>等级</th>
                                <th>顺序</th>
                                <th>#</th>
                            </tr>
                            <tr th:each="category : ${grid}"
                                th:class="${category.parent==null}? 'treegrid-'+${category.id}:'treegrid-'+${category.id} +' treegrid-parent-'+${category.parent.id}">
                                <td th:text="${category.name}">--</td>
                                <td th:text="${category.grade}">0</td>
                                <td th:text="${category.order}">0</td>
                                <td>
                                    <a th:href="@{'/category/'+${category.id}+'/edit'}">编辑</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<th:block layout:fragment="commonscript">
    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    <script type="text/javascript" th:src="@{/static/bower_components/treegrid/js/jquery.treegrid.js}"></script>
    <script type="text/javascript"
            th:src="@{/static/bower_components/treegrid/js/jquery.treegrid.bootstrap3.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tree-2').treegrid({
                initialState: 'collapse'
                /* expanderExpandedClass: 'glyphicon glyphicon-minus',
                 expanderCollapsedClass: 'glyphicon glyphicon-plus'
                */
            });
        });
    </script>
</th:block>
</body>
</html>